@model WebComercio.Usuario

@{
    ViewData["Title"] = "Login";
}

<div class="container my-5">
        <div class="row">
                <img src="~/IMG/homeAdmin/logoDaVinci.jpeg" alt="administracion">                
        </div>
    </div>


<div class="container my-5">
    <div class="row">

        <div class="col-md-12">
            <h1><b>Mercado</b>  <img src="~/IMG/homeAdmin/administracion.png" width="50" height="50"> </h1>
        </div>

    </div>
</div>

<div class="container my-5">
    <h3>Integrantes</h3>
    <ul class="my-3">
        <li>Calleja Horacio</li>
        <li>Cohen Nicolas</li>
        <li>Kim Anastasia</li>
        <li>Kukuchka Marcos</li>
        <li>López Emmanuel</li>
        <li>López Sosa Sebastian</li>
        <li>Motzo Franco</li>
    </ul>
</div>

<div class="container my-5">
    <h3>Repositorio</h3>
    <ul class="my-3">
        <li><a href="https://github.com/sebagls-86/WebComercio" target="_blank">GitHub</a></li>

    </ul>
</div>