@model WebComercio.Usuario

@{
    ViewData["Title"] = "Login";
}




<div class="container my-5">
    <div class="row">
     
                <img src="~/IMG/mercado/biol.png" class="mr-3 ml-3" data-bs-toggle="Home Market" title="Pagina de inicio" width="45" height="45">
                <h1><b>BIOL MARKET</b></h1>
    </div>
</div>

<div class="d-flex">
    <div class="col-md-6">
        <h4>¡Bienvenido administrador!</h4>
        <div class="my-3">
            <p>Como administrador de BIOL Market va a poder realizar las siguientes tareas:</p>
        </div>
       
        <ul class="list-unstyled">
            <li>
                <img src="~/IMG/mercado/adminUsuarios.png" width="30" height="30"> Administrar usuarios:
                <ul>
                    <li>Crear</li>
                    <li>Editar</li>
                    <li>Eliminar</li>
                </ul>
            </li>
            <li class="my-2">
                <img src="~/IMG/mercado/adminCategorias.png" width="27" height="27"> Administrar productos y sus categorías
                <ul>
                    <li>Crear</li>
                    <li>Editar</li>
                    <li>Eliminar</li>
                </ul>
            </li>

            <li class="my-2"> <img src="~/IMG/mercado/adminCompras.png" width="30" height="30"> Administrar las compras</li>
        </ul>
    </div>

<div class="col-md-6">
    <img src="~/IMG/mercado/aside.png" class="w-50 h-80" > 
</div>
</div>

<div class="container">
 <h3 class="my-3">Integrantes</h3>
 </div>

<div class="container d-flex">
    <div>
     <ul>
      <li>Calleja Horacio</li>
        <li>Cohen Nicolas</li>
        <li>Kim Anastasia</li>
         <li>Kukuchka Marcos</li>
     </ul>
    </div>
    <div>
    <ul>
        <li>López Emmanuel</li>
        <li>López Sosa Sebastian</li>
        <li>Motzo Franco</li>
    </ul>
</div>
</div>

<div class="container my-5">
       <h3>Escuela Da Vinci</h3>
    <ul class="my-3">
     <li>Plataformas de Desarrollo</li>
      <li>Walter Matías Gomez</li>
    <li>Cuarto cuatrimestre - 2021</li>
    </ul>

</div>

<div class="container my-5">
    <h3>Repositorio</h3>
    <ul class="my-3">
        <li><a href="https://github.com/sebagls-86/WebComercio" target="_blank">GitHub</a></li>
    </ul>

</div>

<div class="container my-5">
                            
        
    </div>