<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebComercio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container justify-content-between">
                    <a class="navbar-brand" asp-area="" asp-controller="" asp-action="">WebComercio</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Mercado" asp-action="Index">Mercado</a>
                            </li>

                        </ul>
                    </div>
                    <div class="justify-content-between row">
                    <div>
                        <a class="nav-link text-dark" href="/Mercado/Carro/@ViewBag.identificador?identificador=@ViewBag.identificador">
                            <div class="row">
                                <img src="~/IMG/compras/compras.png" data-bs-toggle="tooltip" title="Mi carrito" alt="Mi carro" width="40" height="40" />
                                <h6> @ViewBag.productosEnCarro</h6>
                            </div>
                        </a>
                    </div>
                    
                    <div class="pl-3">
                        <a class="nav-link text-dark" href="/Mercado/MisCompras/@ViewBag.identificador?identificador=@ViewBag.identificador">
                            <img src="~/IMG/mercado/misCompras.png"data-bs-toggle="tooltip" title="Mis compras" alt="compras" width="40" height="40" />
                        </a>
                    </div>

                    <div>
                        <a class="nav-link text-dark" href="/Mercado/MisDatos/@ViewBag.identificador?identificador=@ViewBag.identificador">
                            <img class="ml-2" src="~/IMG/mercado/miPerfil.png"  data-bs-toggle="tooltip" title="Mi perfil" alt="Mi Perfil" width="40" height="40">
                        </a>
                    </div>
                </div>
                </div>
            </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WebComercio - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
