@model WebComercio.Usuario

@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/_LayoutLoginRegistro.cshtml";
}

<div class="container my-5">
    <div class="row"> </div>
    <h1>
        <a class="text-muted" asp-area="" asp-controller="" asp-action=""><img src="~/IMG/usuarios/volver.png" data-bs-toggle="tooltip" title="Volver"></a>
        Registrar Usuario
    </h1>
</div>

@if (TempData["TipoMensaje"] != null)
{
    @if ((int)TempData["TipoMensaje"] == 1)
    {
        <div class='alert alert-danger alert-dismissable' id='alert'>
            <button type='button' class='close' data-dismiss='alert'>×</button>
            <strong>@TempData["Mensaje"]</strong>

        </div>
    }

    @if ((int)TempData["TipoMensaje"] == 2)
    {
        <div class='alert alert-success alert-dismissable' id='alert'>
            <button type='button' class='close' data-dismiss='alert'>×</button>
            <strong>@TempData["Mensaje"]</strong>
        </div>
    }

}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Registrado">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Cuil" class="control-label"></label>
                    <input asp-for="Cuil" class="form-control" maxlength="8" required />
                    <span asp-validation-for="Cuil" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" required />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" required />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mail" class="control-label"></label>
                    <input asp-for="Mail" class="form-control" required />
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" class="form-control" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <label class="control-label">Seleccione una opción</label>
                <div class="form-group">
                    <select TipoUsuario" name="TipoUsuario" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" required>
                        <option selected value="2">Persona</option>
                        <option value="3">Empresa</option>
                    </select>
                </div>

                <div class="form-group text-right">
                    <input type="submit" value="Registrar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


