
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutLoginRegistro.cshtml";
}

<div class="col-4 ml-auto mr-auto">
    <h1>Ingresar</h1>
    <form>
        <div class="mb-3">
            <label for="dni" class="form-label">DNI</label>
            <input type="number" class="form-control" id="dni" aria-describedby="dni">
            <div id="dni" class="form-text">Nunca compartiremos tu información.</div>
        </div>
        <div class="mb-3">
            <label for="pass" class="form-label">Contraseña</label>
            <input type="pass" class="form-control" id="pass">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>


</div>

